<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.2/phpunit.xsd"
         colors="true"
         columns="max"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="./framework/bootstrap.php"
>
    <testsuites>
        <testsuite name="%PROJECT_NAME%">
            <directory suffix="Test.php">../../../app/code/%PROJECT_NAME%/*/Test/Unit</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="date.timezone" value="America/Los_Angeles"/>
        <ini name="xdebug.max_nesting_level" value="250"/>
        <ini name="memory_limit" value="2G"/>
    </php>
    <filter>
        <whitelist>
            <directory suffix=".php">../../../app/code</directory>
            <exclude>
                <directory>../../../app/code/*/*/Test</directory>
                <directory>../../../app/code/*/*/Controller</directory>
                <directory>.../../../app/code/*/*/Setup</directory>
                <directory suffix="registration.php">../../../app/code/*/*/*</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>