<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Accord\Integration\Api\CacheInterface"
                type="Accord\Integration\Model\Cache\RegistryHandler"/>

    <type name="Accord\Integration\Helper\Api">
        <arguments>
            <argument name="client" xsi:type="object">Accord\Integration\Api\Client\Client</argument>
            <argument name="config" xsi:type="object">Accord\Integration\Helper\ClientConfig</argument>
        </arguments>
    </type>
    <type name="Accord\Integration\Helper\HeartbeatCheck">
        <arguments>
            <argument name="client" xsi:type="object">Accord\Integration\Api\Client\Client</argument>
        </arguments>
    </type>
    <type name="Accord\Integration\Controller\Adminhtml\Config\Heartbeat\Check">
        <arguments>
            <argument name="helperHeartBeatCheck" xsi:type="object">Accord\Integration\Helper\HeartbeatCheck</argument>
        </arguments>
    </type>
    <type name="Accord\Integration\Model\Config\FieldFormatter">
        <arguments>
            <argument name="formatters" xsi:type="array">
                <item name="Accord\General\Model\Config\Source\Yesno" xsi:type="object">Accord\Integration\Model\Config\Formatter\ToBooleanString</item>
                <item name="Accord\General\Model\Config\Source\EnabledDisabledSwitching" xsi:type="object">Accord\Integration\Model\Config\Formatter\ToBooleanString</item>
                <item name="Accord\General\Model\Config\Source\VatTypes" xsi:type="object">Accord\Integration\Model\Config\Formatter\VatType</item>
            </argument>
        </arguments>
    </type>

    <type name="Accord\Integration\Model\Config\Formatter\VatType">
        <arguments>
            <argument name="addTypes" xsi:type="array">
                <item name="0" xsi:type="string">No VAT</item>
                <item name="1" xsi:type="string">VAT Rate</item>
                <item name="2" xsi:type="string">VAT Code</item>
                <item name="3" xsi:type="string">VAT Rate &amp; VAT Code</item>
            </argument>
        </arguments>
    </type>

    <type name="Accord\Integration\Model\Cache\CacheHandler">
        <arguments>
            <argument name="nextHandler" xsi:type="null"/>
        </arguments>
    </type>

    <type name="Accord\Integration\Model\Cache\RegistryHandler">
        <arguments>
            <argument name="nextHandler" xsi:type="object">Accord\Integration\Model\Cache\CacheHandler</argument>
        </arguments>
    </type>
</config>
